.section-hero--wrapper {
  display: flex;
  width: 80%;
  margin: 65px auto;
}

.section-hero--text-wrapper {
  display: flex;
  width: 50%;
  position: relative;
}

.hero-heading--wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 10px;
  padding: 15px 5px;
}

.heading-name {
  color: #444;
  font-size: 47px;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-weight: normal;
  margin-right: -7px;
}

.heading-title {
  color: #707070;
  opacity: 0.3;
  font-size: 47px;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-weight: normal;
}

.hero--descriprion-container {
  width: 79%;
}

.hero--description-heading {
  font-size: 34px;
  font-weight: normal;
  color: #444;
  margin-bottom: 39px;
}

.hero--description-text {
  color: #ababab;
  font-size: 19px;
  margin-bottom: 23px;
}

.hero--contact-and-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 40%;
  margin-left: 145px;
}

.hero-image--container img {
  width: 100%;
  min-width: 250px;
  min-height: 250px;
  background-size: contain;
}

.hero-div--contact-numbers {
  margin-top: 32px;
  margin-bottom: 21px;
}

.hero-div--contact-numbers p {
  @include heading-font;

  color: #444;
  font-size: 21px;
}

.hero-div--contact a {
  @include heading-font;

  display: inline-block;
  font-size: 21px;
  letter-spacing: 0.3px;
  color: #c98730;
  text-decoration: none;
  padding-bottom: 7px;
  border-bottom: 1px solid #c98730;
}
