@import "./mixins";
@import "./header";
@import "./hero";
@import "./article";
@import "./gallery";
@import "./contact";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}
